* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f1f1f1;
    font-family: sans-serif;
}
.nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background: #f1f1f1;
    margin-bottom: 20px;
    border-bottom: 3px solid #1f4582;
    z-index: 2;
}
.logo {
    height: 40px;
    margin: 7px 12px;
}
.search-bar-form {
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid #1f4582 !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none !important;
}
.search-bar-span {
    background: #1f4582 !important;
    border: 1px solid #1f4582 !important;
    margin: 9px 10px 6px 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search {
    display: inline-flex;
    width: 60%;
}
.fa-search {
    color: #f1f1f1;
}
.menu-bar {
    width: 40%;
    height: 27px;
    float: right;
}
.menu-bar ul li{
    list-style-type: none;
    padding: 15px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: #1f4582;
    cursor: pointer;
}
.menu-bar ul li a{
    font-size: 16px;
    font-weight: bold;
    color: #f1f1f1;
    text-decoration: none;
}
@media only screen and (max-width:980px) {
    .nav-bar {
        height: 118px;
        border-bottom: 0;
    }
    .search {
        width: 100%;
    }
    .menu-bar {
        width: 100%;
    }
    .menu-bar ul {
        margin: 10px 0px;
        width: 100%;
    }
    .menu-bar ul li {
        height: 57px;
        width: 100%;
    }
}

/* Side Bar Styling */
.custom-side-bar {
    min-height: 64vh;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #1f4582;
    color:white;
}
.custom-side-bar ul {
    margin-left: 10px;
}
.custom-side-bar ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.custom-side-bar ul li:hover {
    color: white;
}
.custom-side-bar ul li ul {
    display: none;
    z-index: 10;
    top: 78px;
}
.custom-side-bar ul li:hover ul {
    display: block;
    height: 400px;
    margin-left: 14.5%;
    padding: 0px 100px 10px 10px;
    position: fixed;
    background: #2d66c2;
    box-shadow: 1px 1px 4px 1px rgba(12, 12, 12, 0.5);
}
@media only screen and (max-width:980px) { 
    .custom-side-bar {
        display: none;
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
    }
    .custom-side-bar ul li ul {
        top: 133px;
    }
}

/* Slide show */
.slide-show {
    z-index: -1;
    position: relative;
    max-width: 1920px;
    margin-left: 15%;
    padding: 0px 10px;
}
.carousel {
    box-shadow: 1px 1px 6px 1px rgba(12, 12, 12, 0.5);
}
@media only screen and (max-width:980px) {
    .slide-show {
        margin-left: 0.2%;
    }
}

/* Featured Products */
.featured {
    margin: 30px 0px;
}

.section-title {
    color: #f1f1f1;
    position: relative;
    background: #1f4582;
    width: 268px;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
}

.section-title h2 {
    margin-left: 5%;
}

/* .items {
    display: block;
} */

.featured img {
    width: 70%;
    padding: 25px 0px;
    transition: 1s;
    cursor: pointer;
}

@media only screen and (max-width:980px) {
    .featured {
        margin: 20px 0px;
    }
}

.featured img:hover {
    transform: scale(1.1);
    opacity: 0.3;
}

.featured-price {
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 70px;
}

.items:hover .featured-price {
    opacity: 1;
    transition: 0.5s;
    margin-left: 20%;
    cursor: pointer;
}

/* Recently listed products */

.just-listed-header {
    color: #f1f1f1;
    position: relative;
    background: #1f4582;
    width: 268px;
    height: 40px;
    display: flex;
}

.just-listed-header h2 {
    margin-left: 5%;
}

.product img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
}
.overlay-benchmark {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0px;
    width: 70px;
}

.product:hover .overlay-benchmark {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

/* Guarantees/consumer benefits */

.guarantee-header {
    border-radius: 5px;
    color: #f1f1f1;
    background: #1f4582;
    position: relative;
    padding: 5px;
    top: 5px;
}

.guarantee-body {
    border-radius: 5px;
    color: #f1f1f1;
    background: #1f4582;
    position: relative;
    padding: 8px;
    padding-bottom: 10px;
}

/* Footer */
.footer-box {
    background: rgb(14, 14, 14);
    color: #f1f1f1;
}

.footer-font h2 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.footer-font p {
    font-size: 12px;
}

/* ---------------------------------------------------------------------------Product page------------------------------------------------------------------- */

/* Breadcrumb Directory Finder */
.breadcrumb {
    position: relative;
    top: -20;
    border-radius: 0px !important;
    background-color: #1f4582 !important;
}
.breadcrumb-item {
    color: white !important;
}

/* Listing Header */
.listing-header-box {
    background-color: #1f4582;
    color: #f1f1f1;
    border-radius: 5px;
    height: 50px;
}
.listing-header-box h2 {
    padding: 5px 0px;
    margin: 0px 25px;
}

/* Slide show of product images */
.product-carousel {
    max-width: 700px;
    padding: 15px 0px;
    margin-left: 15px;
}

/* Share to social media */
.social-btns {
    z-index: 500;
    font-size: 40px;
    opacity: 0;
    position: relative;
    top: -410;
    margin-left: 78%;
}

.product-display:hover .social-btns {
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}

/* Messenger */
.fa-facebook-messenger {
    color: white;
}

/* Get link */ 
.fa-link {
    color: white;
}

/* Email */
.fa-envelope {
    color: white;
}

@media only screen and (max-width:980px) {
    .social-btns {
        display: none;
    }
    .product-display:hover .social-btns {
        opacity: 0;
        cursor: default;
    }
}

/* Contact details */
.contact-details-box {
    border-radius: 5px;
    border:1px solid #1f4582;
    width: 35%;
    height: 395px;
    margin-left: 1%;
    margin-top: 15px;
    box-shadow: 1px 1px 4px 1px rgba(12, 12, 12, 0.5);
    background: rgb(238, 238, 238);
}
.contact-details-header {
    border-radius: 5px;
    text-align: center;
    margin: 3% 3%;
    margin-bottom: 35px;
    padding: 5px 7px;
    background:#1f4582;
    color: #f1f1f1;
}
.contact-listing-name {
    position: relative;
    left: -20px;
    top: 5px;
    width: 300%;
    overflow: hidden;
    white-space: nowrap;
}
.list-profile-picture img {
    position: relative;
    margin: 10px 35px;
    max-width: 35px;
    max-height: 35px;
}
/* Mobile No. */
.mobile-contact {
    margin-left: 1% !important;
    font-size: 26px;
}
.fa-phone {
    color: #1f4582;
    border:1px solid #1f4582;
    border-radius: 200%;
}
.phone-input {
    margin-left: 5% !important;
    position: relative;
    top: -7px;
}
/* Email */
.email-contact {
    margin-top: 3%;
    margin-left: 1% !important;
    font-size: 26px;
}
.input-envelope {
    color: #1f4582;
}
.email-input {
    margin-left: 5% !important;
    position: relative;
    top: -7px;
}

/* Benchmark Score */
.benchmark-header {
    border-radius: 5px;
    text-align: center;
    margin: 3% 3%;
    margin-bottom: 35px;
    padding: 5px 0px;
    background:#1f4582;
    color: #f1f1f1;
}

/* Price input for bid */
.price-input {
    margin: 3% 3%;
}
.price-input-field {
    width: 81% !important;
}
.btn-bid {
    background: #1f4582 !important;
    border: 1px solid #1f4582 !important;
}

/* Hide contact details on shrink */
@media only screen and (max-width:1200px) {
    .contact-details-box {
        display: none;
    }
}

/* Price header box */
.price-header-box {
    background-color: #1f4582;
    color: #f1f1f1;
    border-radius: 5px;
    height: 55px;
    clear: both;
}
.price-header-box h1 {
    margin: 0px 25px;
    display: inline;
    text-decoration: line-through;
    font-size: 36px;
}
.price-header-box h2 {
    display: inline;
    font-size: 36px;
}

/* Product Description */
.body-header-box { /*Also used in Specifications */
    margin: 15px 0px;
} 
.description-header-box h2 {
    color: #1f4582;
}

@media only screen and (max-width:980px) {
    .description-body-box li {
        list-style-type: none;
    }
}

/* -------------------------------------------Manage product page - reuses CSS from Product View ----------------------------------------------*/
.edit-product-box {
    padding: 5px 5px;
}
.btn-submit {
    color: #f1f1f1 !important;
    border: 1px solid #f1f1f1 !important;
}
.edit-listing-box {
    border-radius: 5px;
    border:1px solid #1f4582;
    width: 35%;
    height: 395px;
    margin-left: 1%;
    margin-top: 15px;
    box-shadow: 1px 1px 4px 1px rgba(12, 12, 12, 0.5);
    background: rgb(238, 238, 238);
}
.edit-listing-header {
    border-radius: 5px;
    text-align: center;
    margin: 3% 3%;
    padding: 5px 7px;
    background:#1f4582;
    color: #f1f1f1;
}
.benchmark-button {
    border-radius: 5px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5px;
    padding: 5px 7px;
    background:#1f4582;
    color: #f1f1f1;
}
.bids-header {
    text-align: center;
    margin-left: 2%;
}
.bids-table {
    margin-left: 2%;
    width: 95% !important;
    height: 54% !important;
}
@media only screen and (max-width:1200px) {
    .edit-listing-box {
        display: none;
    }
}

/* Edit Price */
.edit-price-box {
    border-radius: 5px;
    background-color: #1f4582;
    color: #f1f1f1;
}

.edit-price-input {
    padding: 7px 7px;
}

/* Submit Specification Changes */
.btn-edit-specs-submit {
    width: 100%;
    margin-bottom: 10px;
    background: #1f4582 !important;
    color: #f1f1f1 !important;
    border: 1px solid #f1f1f1 !important;
}

/* --------------------------------------------------------------New product listing - reuses some CSS from Manage Product Listing------------------------ */
.new-product-box {
    margin: 3% 3%;
}

.new-product-type-selection {
    margin-bottom: 4% !important;
    margin: 3% 3%;
}

.upload-new-image-box {
    margin: 4% 0px;
    margin-left: 2.5%;
    width: 95% !important;
}

/* Used for debugging */
