{% extends 'manageListingTemplates/manageListingTemplate.html' %}

{% block form %}
<tr>
    <th scope="row">Manufacturer</th>
    <td>
        <div class="input-group mb-3">
            <input type="text" value={{cooler.manufacturer}} class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2"
                form="ListingForm" placeholder="Enter Manufacturer Name..." name="Manufacturer">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Name</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Fan RPM</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" type="number" value={{cooler.FanRPM}} class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2"
                form="ListingForm" placeholder="Enter Fan RPM..." name="Fan RPM">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">RPM</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Noise Level</th>
    <td>
        <div class="input-group mb-3">
            <input type="text" value={{cooler.NoiseLevel}} class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2"
                form="ListingForm" placeholder="Enter Noise Level..." name="Fan Noise Level">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">dB</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Cooler Height</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value={{cooler.Height}} type="number" class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2"
                form="ListingForm" placeholder="Enter Height In Milimetres..." name="Cooler Height">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">mm</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Socket</th>
    <td>
        <div class="input-group mb-3">
            <input value={{ cooler.Socket }} type="text" class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2"
                form="ListingForm" placeholder="Enter Socket..." name="Socket">

        </div>
    </td>
</tr>
<tr>
    <th scope="row">Water Cooled</th>
    <td>
        <div class="input-group mb-1">
            <select class="custom-select" id="inputGroupSelect02" form="ListingForm" name="WaterCooled">
                <option selected>Choose...</option>
                <option value="Yes" {% if cooler.WaterCooled == "Yes" %}  selected="selected" {% endif %}>Yes</option>
                <option value="No" {% if cooler.WaterCooled == "No" %}  selected="selected" {% endif %}>No</option>
            </select>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Fanless</th>
    <td>
        <div class="input-group mb-1">
            <select class="custom-select" id="inputGroupSelect02" form="ListingForm" name="Fanless">
                <option value="Yes" {% if cooler.Fanless == "Yes" %}  selected="selected" {% endif %}>Yes</option>
                <option value="No" {% if cooler.Fanless == "No" %}  selected="selected" {% endif %}>No</option>
            </select>
        </div>
    </td>
</tr>
{% endblock %}