{% extends 'manageListingTemplates/manageListingTemplate.html' %}

{% block form %}
<tr>
    <th scope="row">Manufacturer</th>
    <td>
        <div class="input-group mb-3">
            <input type="text" value="{{ motherboard.manufacturer }}" class="form-control" aria-label="Placeholder"
                aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter Manufacturer Name..."
                name="Manufacturer">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Name</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Socket</th>
    <td>
        <div class="input-group mb-3">
            <input type="text" value="{{ motherboard.Socket }}" class="form-control" aria-label="Placeholder"
                aria-describedby="basic-addon2" form="ListingForm" name="Socket"
                placeholder="Enter Motherboard Socket Type...">
            <div class="input-group-append">
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">RAM Slots</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ motherboard.RAMslots }}" placeholder="Enter Amount Of RAM Slots..." type="number"
                class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm"
                name="RAMSlots">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">#</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Max RAM</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ motherboard.MaxRAM }}" placeholder="Enter Max Amount Of RAM..." type="number"
                class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm"
                name="RAMMax">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">GB</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Colour</th>
    <td>
        <div class="input-group mb-3">
            <input type="text" value="{{ motherboard.colour }}" class="form-control" aria-label="Placeholder"
                aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter Motherboard Colour..."
                name="Colour">

        </div>
    </td>
</tr>
<tr>
    <th scope="row">Chipset</th>
    <td>
        <div class="input-group mb-3">
            <input type="text" value="{{ motherboard.Chipset }}" class="form-control" aria-label="Placeholder"
                aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter Chipset..." name="Chipset">

        </div>
    </td>
</tr>
<tr>
    <th scope="row">Memory Type</th>
    <td>
        <div class="input-group mb-1">
            <select class="custom-select" id="inputGroupSelect02" form="ListingForm" name="MemoryType">
                <option value="DDR" {% if motherboard.MemoryType == "DDR" %} selected="selected" {% endif %}>DDR
                </option>
                <option value="DDR2" {% if motherboard.MemoryType == "DDR2" %} selected="selected" {% endif %}>DDR2
                </option>
                <option value="DDR3" {% if motherboard.MemoryType == "DDR3" %} selected="selected" {% endif %}>DDR3
                </option>
                <option value="DDR4" {% if motherboard.MemoryType == "DDR4" %} selected="selected" {% endif %}>DDR4
                </option>
            </select>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">SLI Support</th>
    <td>
        <div class="input-group mb-1">
            <select class="custom-select" id="inputGroupSelect02" form="ListingForm" name="SLI">
                <option value="Yes" {% if motherboard.SLISupport == "Yes" %} selected="selected" {% endif %}>Yes
                </option>
                <option value="No" {% if motherboard.SLISupport == "No" %} selected="selected" {% endif %}>No</option>

            </select>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">CrossFire Support</th>
    <td>
        <div class="input-group mb-1">
            <select class="custom-select" id="inputGroupSelect02" form="ListingForm" name="CrossFire">
                <option value="Yes" {% if motherboard.CrossFireSupport == "Yes" %} selected="selected" {% endif %}>Yes
                </option>
                <option value="No" {% if motherboard.CrossFireSupport == "No" %} selected="selected" {% endif %}>No
                </option>

            </select>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">PCI-E x16 Slots</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ motherboard.PCIEx16Slots }}" type="number" class="form-control"
                aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm"
                placeholder="Enter Amount Of x16 Slots..." name="x16">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Slots</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">PCI-E x8 Slots</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ motherboard.PCIEx8Slots }}" type="number" class="form-control"
                aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm"
                placeholder="Enter Amount Of x8 Slots..." name="x8">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Slots</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">PCI-E x4 Slots</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ motherboard.PCIEx4Slots }}" type="number" class="form-control"
                aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm"
                placeholder="Enter Amount Of x4 Slots..." name="x4">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Slots</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">PCI-E x1 Slots</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ motherboard.PCIEx1Slots }}" type="number" class="form-control"
                aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm"
                placeholder="Enter Amount Of x1 Slots..." name="x1">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Slots</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">PCI Slots</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ motherboard.PCISlots }}" type="number" class="form-control"
                aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm"
                placeholder="Enter Amount Of PCI Slots..." name="PCI">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Slots</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">SATA Ports</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ motherboard.SATAPorts }}" type="number" class="form-control"
                aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm"
                placeholder="Enter Amount Of SATA Ports..." name="SATA">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Ports</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">mSATA Ports</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ motherboard.mSata }}" type="number" class="form-control"
                aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm"
                placeholder="Enter Amount Of mSATA Ports..." name="mSATA">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Ports</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">M.2 Slots</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ motherboard.M2Slots }}" type="number" class="form-control"
                aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm"
                placeholder="Enter Amount Of M.2 Slots..." name="M.2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Ports</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Onboard USB3.0 Headers</th>
    <td>
        <div class="input-group mb-1">
            <select class="custom-select" id="inputGroupSelect02" form="ListingForm" name="USB3">
                <option value="Yes"  {% if motherboard.OnboardUSB3Headers == "Yes" %} selected="selected" {% endif %}>Yes</option>
                <option value="No"  {% if motherboard.OnboardUSB3Headers == "No" %} selected="selected" {% endif %}>No</option>

            </select>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Onboard WiFi</th>
    <td>
        <div class="input-group mb-1">
            <select class="custom-select" id="inputGroupSelect02" form="ListingForm" name="WiFi">
                <option value="Yes" {% if motherboard.OnboardWifi == "Yes" %} selected="selected" {% endif %}>Yes</option>
                <option value="No" {% if motherboard.OnboardWifi == "No" %} selected="selected" {% endif %}>No</option>

            </select>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Raid Support</th>
    <td>
        <div class="input-group mb-1">
            <select class="custom-select" id="inputGroupSelect02" form="ListingForm" name="RAID">
                <option value="Yes" {% if motherboard.RAIDSupport == "Yes" %} selected="selected" {% endif %}>Yes</option>
                <option value="No" {% if motherboard.RAIDSupport == "No" %} selected="selected" {% endif %}>No</option>

            </select>
        </div>
    </td>
</tr>
{% endblock %}
