{% extends 'manageListingTemplates/manageListingTemplate.html' %}

{% block form %}
<tr>
    <th scope="row">Manufacturer</th>
    <td>
        <div class="input-group mb-3">
            <input type="text" value="{{ powerSupply.manufacturer }}" class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter Manufacturer Name..." name="Manufacturer">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Name</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Effiency Rating</th>
    <td>
        <div class="input-group mb-3">
            <input type="text" value="{{ powerSupply.EffiencyRating }}" class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter Effiency Rating..." name="Effiency Rating">
            
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Wattage</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" type="number" value="{{ powerSupply.Wattage }}" class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter Wattage..." name="Wattage">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Watts</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Modular</th>
    <td>
        <div class="input-group mb-1">
            <select class="custom-select" id="inputGroupSelect02" form="ListingForm" name="Modular">
                <option selected>Choose...</option>
                <option value="Full" {% if powerSupply.Modular == "Full" %} selected="selected" {% endif %}>Full</option>
                <option value="Semi"{% if powerSupply.Modular == "Semi" %} selected="selected" {% endif %}>Semi</option>
                <option value="None"{% if powerSupply.Modular == "None" %} selected="selected" {% endif %}>None</option>
            </select>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">SATA Connectors</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" value="{{ powerSupply.SATAConnectors }}" type="number" class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter SATA Connectors..." name="SATA">
            
        </div>
    </td>
</tr>
{% endblock %}

