<tr>
    <th scope="row">Manufacturer</th>
    <td>
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter Manufacturer Name..." name="Manufacturer">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Name</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Effiency Rating</th>
    <td>
        <div class="input-group mb-3">
            <input type="text" value= {{formValue.ER}} class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter Effiency Rating..." name="Effiency Rating">
            
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Wattage</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" type="number" class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter Wattage..." name="Wattage">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Watts</span>
            </div>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">Modular</th>
    <td>
        <div class="input-group mb-1">
            <select class="custom-select" id="inputGroupSelect02" form="ListingForm" name="Modular">
                <option selected>Choose...</option>
                <option value="Full">Full</option>
                <option value="Semi">Semi</option>
                <option value="None">None</option>
            </select>
        </div>
    </td>
</tr>
<tr>
    <th scope="row">SATA Connectors</th>
    <td>
        <div class="input-group mb-3">
            <input min="0" type="number" class="form-control" aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm" placeholder="Enter SATA Connectors..." name="SATA">
            
        </div>
    </td>
</tr>

