* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f1f1f1;
    font-family: sans-serif;
    min-height: 100%;
    position: relative;
    padding-bottom: 165px;
    margin: 0;
}
html {
    height: 100%;
    margin: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background: #f1f1f1;
    margin-bottom: 20px;
    border-bottom: 3px solid #1f4582;
    z-index: 5;
}
.logo {
    height: 40px;
    margin: 7px 12px;
}
.search-button-box {
    overflow: hidden !important;
    background: rgba(0, 0, 0, 0);
    border-style: none !important;
}
.search-bar-form {
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid #1f4582 !important;
    border-right: none !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none !important;
}
.search-bar-span {
    background: #1f4582 !important;
    border: 1px solid #1f4582 !important;
    margin: 9px 10px 7px 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search {
    display: inline-flex;
    width: 60%;
}
.fa-search {
    color: white;
}
.menu-bar {
    width: 40%;
    height: 27px;
    float: right;
}
.menu-bar ul li{
    list-style-type: none;
    padding: 15px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: #1f4582;
    cursor: pointer;
}
.menu-bar ul li a{
    font-size: 16px;
    font-weight: bold;
    color: #f1f1f1;
    text-decoration: none;
}
@media only screen and (max-width:980px) {
    .nav-bar {
        height: 118px;
        border-bottom: 0;
    }
    .search {
        width: 100%;
    }
    .menu-bar {
        width: 100%;
    }
    .menu-bar ul {
        margin: 10px 0px;
        width: 100%;
    }
    .menu-bar ul li {
        height: 57px;
        width: 100%;
    }
}

/* Side Bar Styling */
.custom-side-bar {
    height: 80%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #1f4582;
    color:white;
    min-height: 90ch;
}
.custom-side-bar ul {
    margin-left: 10px;
}
.custom-side-bar ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.custom-side-bar ul li:hover {
    color: white;
}
.custom-side-bar ul li ul {
    display: none;
    z-index: 10;
    top: 78px;
}
.custom-side-bar ul li:hover ul {
    display: block;
    height: 400px;
    margin-left: 14%;
    padding: 0px 100px 10px 10px;
    position: fixed;
    background: #2d66c2;
    box-shadow: 1px 1px 4px 1px rgba(12, 12, 12, 0.5);
}
.custom-side-bar ul li ul li a{
    text-decoration: none;
    color: #f1f1f1;
}
@media only screen and (max-width:980px) { 
    .custom-side-bar {
        display: none;
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
    }
    .custom-side-bar ul li ul {
        top: 133px;
    }
}
@media only screen and (max-width:1660px) { 
    .custom-side-bar {
        min-height: 60ch;
    }
}
@media only screen and (max-width:1100px) { 
    .custom-side-bar {
        min-height: 40ch;
    }
}

/* Slide show */
.slide-show {
    z-index: -1;
    position: relative;
    max-width: 1920px;
    margin-left: 15%;
    padding: 0px 10px;
    margin-top: 21px !important;
}
.carousel {
    box-shadow: 1px 1px 6px 1px rgba(12, 12, 12, 0.5);
}
@media only screen and (max-width:980px) {
    .slide-show {
        margin-left: 0.2%;
    }
}

/* Featured Products */
.featured {
    margin: 30px 0px;
}

.section-title {
    color: #f1f1f1;
    position: relative;
    background: #1f4582;
    width: 268px;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 4px;
}

.section-title h2 {
    margin-left: 5%;
}

@media only screen and (max-width:767px) {
    .section-title {
        margin-left: 20%;
    }
    .items {
        margin-left: 20%;
    }
}


.recent-images img {
    width: 70%;
    padding: 25px 0px;
    transition: 1s;
    cursor: pointer;
}

@media only screen and (max-width:980px) {
    .recent-images {
        margin: 20px 0px;
    }
}

.recent-images .items img:hover {
    transform: scale(1.1);
    opacity: 0.3;
    transition: 0.5s;
}

.featured-price {
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 70px;
}

.recent-images .items:hover .featured-price {
    opacity: 1;
    transition: 0.7s;
    margin-left: 20%;
    cursor: pointer;
    z-index: 5000;
}

/* Recently listed products */

.just-listed-header {
    color: #f1f1f1;
    position: relative;
    background: #1f4582;
    width: 268px;
    height: 40px;
    display: flex;
    border-radius: 4px;
}

.just-listed-header h2 {
    margin-left: 5%;
}

.product img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
}
.overlay-benchmark {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0px;
    width: 70px;
}

.product:hover .overlay-benchmark {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

/* Guarantees/consumer benefits */
.guarantees {
    margin-top: 50px;
}
.guarantee-header {
    border-radius: 5px;
    color: #f1f1f1;
    background: #1f4582;
    position: relative;
    padding: 5px;
    top: 5px;
}

.guarantee-body {
    border-radius: 5px;
    color: #f1f1f1;
    background: #1f4582;
    position: relative;
    padding: 5px;
}

/* Footer */
.footer-box {
    background: rgb(14, 14, 14);
    color: #f1f1f1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 165px;
}

.resources h2 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.resources p {
    font-size: 12px;
}
.resources p a {
    text-decoration:none;
    color: #f1f1f1;
}

/* ---------------------------------------------------------------------------Product page------------------------------------------------------------------- */

/* Breadcrumb Directory Finder */
.breadcrumb {
    position: relative;
    top: -20;
    border-radius: 0px !important;
    background-color: #1f4582 !important;
}
.breadcrumb-item {
    color: white !important;
}

/* Listing Header */
.listing-header-box {
    background-color: #1f4582;
    color: #f1f1f1;
    border-radius: 5px;
    height: 50px;
}
.listing-header-box h2 {
    padding: 5px 0px;
    margin: 0px 25px;
}

/* Slide show of product images */
.product-carousel {
    width: 700px;
    padding: 15px 0px;
    margin-left: 15px;
}

.product-carousel-container {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 56.2% 0 0 0;
}

.product-carousel-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Share to social media */
.social-btns {
    z-index: 500;
    font-size: 40px;
    opacity: 0;
    position: relative;
    top: -610;
    margin-top: -410px;
    margin-left: 78%;
    
}

.product-display:hover .social-btns {
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}

/* Messenger */
.fa-facebook-messenger {
    color: black;
    text-decoration: none;
}

/* Get link */ 
.fa-link {
    color: black;
    text-decoration: none;
}

/* Email */
.fa-envelope {
    color: black;
    text-decoration: none;
}

.fa-facebook-messenger:hover {
    color: black;
    text-decoration: none;
}

.fa-link:hover {
    color: black;
    text-decoration: none;
}

.fa-envelope:hover {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width:980px) {
    .social-btns {
        display: none;
    }
    .product-display:hover .social-btns {
        opacity: 0;
        cursor: default;
    }
}

/* Contact details */
.contact-details-box {
    border-radius: 5px;
    border:1px solid #1f4582;
    width: 35%;
    height: 395px;
    margin-left: 1%;
    margin-top: 15px;
    box-shadow: 1px 1px 4px 1px rgba(12, 12, 12, 0.5);
    background: rgb(238, 238, 238);
}
.contact-details-header {
    border-radius: 5px;
    text-align: center;
    margin: 3% 3%;
    margin-bottom: 35px;
    padding: 5px 7px;
    background:#1f4582;
    color: #f1f1f1;
}
.contact-listing-name {
    position: relative;
    left: -20px;
    top: 5px;
    width: 300%;
    overflow: hidden;
    white-space: nowrap;
}
.list-profile-picture img {
    position: relative;
    margin: 10px 35px;
    max-width: 35px;
    max-height: 35px;
}
/* Mobile No. */
.mobile-contact {
    margin-left: 1% !important;
    font-size: 26px;
}
.fa-phone {
    color: #1f4582;
    border:1px solid #1f4582;
    border-radius: 200%;
}
.phone-input {
    margin-left: 5% !important;
    position: relative;
    top: -7px;
}
/* Email */
.email-contact {
    margin-top: 3%;
    margin-left: 1% !important;
    font-size: 26px;
}
.input-envelope {
    color: #1f4582;
}
.email-input {
    margin-left: 5% !important;
    position: relative;
    top: -7px;
}

/* Benchmark Score */
.benchmark-header {
    border-radius: 5px;
    text-align: center;
    margin: 3% 3%;
    margin-bottom: 35px;
    padding: 5px 0px;
    background:#1f4582;
    color: #f1f1f1;
}

/* Price input for bid */
.price-input {
    margin: 3% 3%;
}
.price-input-field {
    width: 81% !important;
}
.btn-bid {
    background: #1f4582 !important;
    border: 1px solid #1f4582 !important;
}

/* Hide contact details on shrink */
@media only screen and (max-width:1200px) {
    .contact-details-box {
        display: none;
    }
}

/* Price header box */
.price-header-box {
    background-color: #1f4582;
    color: #f1f1f1;
    border-radius: 5px;
    height: 55px;
    clear: both;
    margin-top: 25px;
}
.price-header-box h2 {
    padding-left: 10px;
    display: inline;
    font-size: 36px;
}
.price-header-box ul {
    list-style-type: none;
    overflow: hidden;
}
.price-header-box li {
    float: left;
}
.price-header-box li h2 {
    display: block;
    text-align: center;
    padding-left: 15px;
}

/* Product Description */
.body-header-box { /*Also used in Specifications */
    margin: 15px 0px;
} 
.description-header-box h2 {
    color: #1f4582;
}

.sold{
    text-decoration:  line-through;
    text-decoration-color: red;
}

@media only screen and (max-width:980px) {
    .description-body-box li {
        list-style-type: none;
    }
}

/* -------------------------------------------Manage product page - reuses CSS from Product View ----------------------------------------------*/
.edit-product-box {
    padding: 5px 5px;
}
.btn-submit {
    color: #f1f1f1 !important;
    border: 1px solid #f1f1f1 !important;
}
.hidden {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    display:none;
    color: transparent;
}
.edit-listing-box {
    border-radius: 5px;
    border:1px solid #1f4582;
    width: 35%;
    height: 395px;
    margin-left: 1%;
    margin-top: 15px;
    box-shadow: 1px 1px 4px 1px rgba(12, 12, 12, 0.5);
    background: rgb(238, 238, 238);
}
.edit-listing-header {
    border-radius: 5px;
    text-align: center;
    margin: 3% 3%;
    padding: 5px 7px;
    background:#1f4582;
    color: #f1f1f1;
}
.benchmark-button {
    border-radius: 5px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5px;
    padding: 5px 7px;
    background:#1f4582;
    color: #f1f1f1;
}
.bids-header {
    text-align: center;
    margin-left: 2%;
}
.bids-table {
    margin-left: 2%;
    width: 95% !important;
    height: 54% !important;
}
@media only screen and (max-width:1200px) {
    .edit-listing-box {
        display: none;
    }
}

/* Edit Price */
.edit-price-box {
    border-radius: 5px;
    background-color: #1f4582;
    color: #f1f1f1;
}

.edit-price-input {
    padding: 7px 7px;
}

/* Submit Specification Changes */
.btn-edit-specs-submit {
    width: 100%;
    margin-bottom: 10px;
    background: #1f4582 !important;
    color: #f1f1f1 !important;
    border: 1px solid #f1f1f1 !important;
}

/* --------------------------------------------------------------New product listing - reuses some CSS from Manage Product Listing------------------------ */
.new-product-box {
    margin: 3% 3%;
}

.new-product-type-selection {
    margin-bottom: 4% !important;
    margin: 3% 3%;
}

.upload-new-image-box {
    margin: 4% 0px;
    margin-left: 2.5%;
    width: 95% !important;
}


/*404 CSS Stuff */

.Error404{
    height: 80vh;
    width: 100%;
    text-align: center;
    align-items:center;

}

/* Register */
.centre-register-box {
    position: absolute;
    transform: translate(0%, 15%);
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.btn-google {
    background-color: #fff !important;
    color: rgb(37, 37, 37) !important;
}
.btn-twitter {
    background-color: #42AEEC !important;
    color: #fff !important;
}
/* Login */
.centre-login-box {
    position: absolute;
    transform: translate(0%, 22%);
}

@media only screen and (max-width:980px) {
    .centre-register-box {
        transform: translate(0%, 2%);
    }
    .centre-login-box {
        transform: translate(0%, 2%);
    }
}
#userText{
    color: white !important;
}
/* Dropdown menu */
.dropbtn {
    background-color: #1f4582 !important;
    color: #fff !important; 
    margin-top: 9px !important;
    height: 38px !important;
    padding: 5px 15px 5px 5px !important;
    border: 1px solid #1f4582 !important;
    border-left: none !important;
}

.dropdown {
    position: relative !important;
    display: inline-block !important;
    
}

.dropdown-content {
    display: none !important;
    position: absolute !important; 
    background-color: #f1f1f1 !important;
    z-index: 1 !important;
    margin-top: -8px !important;
}

.dropdown-content a {
    color: #000000 !important;
    padding: 12px !important;
    display: block !important;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}

.dropdown-item:hover {
    background-color: #2d66c2 !important;
    color: #f1f1f1 !important;
}

/* Search results */
.page-title {
    padding: 15px;
    color: #f1f1f1;
}
.results-heading-box {
    background-color: #1f4582 !important;
    margin-bottom: 30px;
}
.results-table-header {
    border-top: hidden;
}
.sub-header-results hr {
    color: black !important;
    background-color: black !important;
}
.extra-actions ul {
    list-style-type: none;
    overflow: hidden;
}
.extra-actions li {
    float: right;
}
.extra-actions li a {
    display: block;
    text-align: center;
    padding-left: 15px;
}
.image-parent {
    width: 48;
}
.image-container {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 100% 0 0 0;
}
.image-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Past sales history page */
.history-heading-box {
    margin-bottom: 30px;
}

.past-sales-table {
    width: 100%;
    border-top: hidden;
}

.past-sales-table td {
    width:25%;
    text-align: center;
}

/* Current listings page */
.current-listings-heading-box {
    margin-bottom: 30px;
}

.card-current-listings {
    width: 75rem;
}

.card-img-top {
    width: 400px !important;
    height: 350px !important;
}

/* Contact us page */
.container-contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px
}

.container-contact-form input[type=text], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

/* Careers page */
.careers-posting {
    border-radius: 5px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    margin-top: 10px;
    height: 300px;
}

.careers-posting p {
    margin-top: 20px;
}

/* Force footer */

/* Used for debugging */
