{% extends 'base.html' %}
<html>

<head>
    <title>
        BenchmarkPC
    </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/06e06e5c3b.js"></script>
</head>

<body>
    {% block breadcrumb %}

    <!-- Breadcrumb to current listing -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: rgb(190, 190, 190)" href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ listing.ListingName }}</li>
        </ol>
    </nav>
    {% endblock %}

    {% block content %}
    <!-- Listing Header -->
    <section class="listing-header">
        <div class="container">
            <!-- Product Name -->
            <div class="listing-header-box">
                <h2>{{ listing.ListingName }}</h2>
            </div>
        </div>
    </section>
    <form action="" method="POST" name=ListingForm id=ListingForm>{{ form.csrf_token }}</form>
    <section class="product-display">
        <div class="container">
            <div class="row">
                <div class="col-md-5-5">
                    <!-- Product slideshow -->
                    <div class="product-carousel">
                        <div id="product-carousel" class="carousel slide carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active product-carousel-container">
                                    <img src="{{ image }}" class="d-block w-100" alt="\static\placeholder.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Share buttons -->
                    <div class="social-btns">
                        <a href="https://www.messenger.com/" class="fab fa-facebook-messenger"></a>
                        <a href="#" class="fas fa-link"></a>
                        <a href="#" class="fas fa-envelope"></a>
                    </div>
                </div>
                <!-- Contact Details -->
                <div class="contact-details-box">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="contact-details-header">
                                <h4>Contact Details</h4>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="contact-listing-name">
                                <h5>{{ user.username }}</h5>
                                <h6>{{ date }}</h6>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <!-- Profile Picture -->
                            <div class="list-profile-picture">
                                <img src="/static/profile-pic.png" alt="img\profile-pic.png">
                            </div>
                        </div>
                    </div>
                    
                    <!-- Benchmark Score -->
                    <div class="benchmark-box">
                        {% if listing.ListingType == 'CPU' and listing.ListingScore != None %}
                        <div class="benchmark-header">
                            <h2>Benchmark Score</h2>
                            <h5>{{ listing.ListingScore }}</h5>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Bid for item -->
                    {% if listing.ListingState == "Open" and current_user.id != listing.userId%}
                    <div class="input-group mb-3 price-input">
                        <input type="number" form=ListingForm name="bid" min="1" required step="any" class="price-input-field"
                            placeholder=" ${{"{0: .2f}".format(listing.ListingPrice)}}" aria-label="$1499.99"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button type="submit" form=ListingForm class="btn btn-primary btn-bid">Bid</button>
                        </div>
                    </div>
                    {% if message != None %}
                    <div class="alert alert-success" role="alert">
                        Bid Placed
                      </div>
                    {% endif %}
                    {% endif %}

                </div>
            </div>

            <!-- Price bar -->
            <!-- Price bar -->
            <div class="price-header-box">
                <ul>

                    {% if listing.ListingState == 'Closed' %}
                    <li>
                        <h2>$<span class='sold'>{{ "{0: .2f}".format(listing.ListingPrice)}}</span></h2>
                    </li>
                    <li>
                        <h2>- Sold</h2>
                    </li>
                    {% else %}
                    <li>
                        <h2>${{ "{0: .2f}".format(listing.ListingPrice)}}</h2>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </section>

    <section class="description">
        <div class="container">
            <div class="body-header-box">
                <h2>Product Description</h2>
                <hr>
            </div>
            <div class="description-body-box">
                {{listing.ListingDescription}}
            </div>
        </div>
    </section>

    <section class="specifications">
        <div class="container">
            <div class="body-header-box">
                <h2>Specifications</h2>
            </div>
            <div class="specifications-body-box">
                <table class="table">
                    <tbody>
                        {% block specifications %}

                        {% endblock %}

                    </tbody>
                </table>

            </div>
        </div>
    </section>


    {% endblock %}
</body>

</html>