{% extends 'base.html' %}

<html>
    {% block content %}
    <section class="mb-5 mt-5">
        <div class="container">
            <h1 class="text-center">About Us</h1>
        </div>
    </section>

    <section>
        <div class="container">
            <p>
                BenchmarkPC is a marketplace for buying and selling computer components, with sellers being required to
                benchmark any listed component before it is available for purchase. The ability to benchmark products allows 
                for greater buying power for our customers and enables our sellers to get the best price for their products.
                Our customers can also test the condition of parts before purchasing, to ensure that they are receiving quality
                components for their money.
            </p>
            <p>
                Any component that can be benchmarked with our in-house benchmarking tool can be listed onto our platform. This 
                includes critical components of any computer such as CPU’s and GPU’s. Each tested component will receive its own 
                score based on a list of hidden criteria and calculations in order to ensure that only the best products are listed
                with BenchmarkPC
            </p>
            <br>
            <h3 class="text-center">Our Guarantee</h3>
            <p>
                Here at BenchmarkPC, we are so confident in our platform
                we provide a money-back guarantee on any product purchased that
                benchmarks 2% outside the score recorded on the date of purchase. If you happen
                to receive a faulty product please contact our support team with both
                proof of purchase and a video recording of the component being benchmarked
                live at the time of purchase. If you are considering purchasing with us we
                encourage you to ensure these are both recorded at the time of purchase, and 
                are kept for any potential mishap.
            </p>
            <br>
        </div>
    </section>
    {% endblock %}
</html>