{% extends 'base.html' %}

<html>
    {% block content %}
    <section class="mb-5 mt-5">
        <div class="container">
            <h1 class="text-center">Work With Us</h1>
        </div>
    </section>

    <section>
        <div class="container">
            <p>
                Do you have a passion for technology? Do you want to connect buyers with only the best products?
                Do you want to help sellers receive the best price possible for their products? We do too. At 
                BenchmarkPC we are always striving to ensure that our buyers connect with the right sellers, 
                so they can receive only the best products. By benchmarking all our products we ensure that our
                customers only receive the best in quality and performance. Through benchmarking we also strive 
                to ensure that our sellers receive the best price possible based on their components benchmarking
                score. We have a passion for connecting people and technology, if this sounds like you then we want
                to hear from you.
            </p>
            <br>
            <p>
                Based in Brisbane, we have a close-knit team that are always striving to ensure we deliver the best service
                possible. We have an array of employment areas including frontend and backend development, customer service,
                sales and benchmarking. Unfortunately we do not accept resumes or cold call employment enquiries, all our 
                current opportunities are posted below, please apply by clicking on the relevant job posting.
            </p>
            <div class="row">
                <div class="col careers-posting">
                    <p style="color:red">No current opportunities available</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</html>