{% extends 'base.html' %}


<html>
    <head>
        <title>
            12BenchmarkPC
        </title>
    <head>
        
        {% block breadcrumb %}
        <!-- Breadcrumb to current listing -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="color: rgb(190, 190, 190)" href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Product Listing</li>
            </ol>
        </nav>
        {% endblock %}

        {% block content %}
        
        
        <script type="text/javascript" src="{{ url_for('static', filename = 'javascript/changeForm.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'javascript/cpu_benchmark.js') }}"></script>
        <section class="product-display">
            <div class="container">
                <div class="row">
                    <div class="col-md-5-5">
                        <!-- Product slideshow -->
                        <form action="" enctype="multipart/form-data" method="POST" name=ListingForm id=ListingForm>{{ form.csrf_token }}</form>
                        <div class="product-carousel">
                            <div id="product-carousel" class="carousel slide carousel-fade" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="static\placeholder.png" class="d-block w-100" alt="img\placeholder.png">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#product-carousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#product-carousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Create new listing -->
                    <div class="edit-listing-box">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="edit-listing-header">
                                    <h4>New Listing</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Product Name -->
                        <div class="new-product-box">
                            <div class="input-group mb-2">
                                <input type="text" name="productName" class="form-control new-product-input" placeholder="Product Name..." aria-label="Placeholder" aria-describedby="basic-addon2" form="ListingForm">
                            </div>
                        </div>
                        <!-- Product category -->
                        <div class="input-group mb-2 new-product-type-box">
                            <select onload="resetDropdown()" class="custom-select new-product-type-selection" id="productType" form="ListingForm" required name="productType" onchange="myFunction()">
                                <option value="default" selected>Product Type...</option>
                                <option value="CPU">CPU</option>
                                <option value="CPU Cooler">CPU Cooler</option>
                                <option value="Motherboard">Motherboard</option>
                                <option value="Memory">Memory</option>
                                <option value="Graphics Card">Graphics Card</option>
                                <option value="Power Supply">Power Supply</option>
                                <option value="Case">Case</option>
                            </select>
                        </div>
                        <!-- Benchmark Score -->
                        <div id="benchmarkTemp"></div>
                        <!-- Upload Images -->
                        <div class="input-group mb-3 upload-new-image-box">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" form="ListingForm">
                                <label class="custom-file-label" for="inputGroupFile01">Product Images</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Price bar -->
                <div class="edit-price-box">
                    <div class="input-group mb-3 edit-price-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text price-append">$</span>
                        </div>
                        <input name="productPrice" type="number" min="1" step="any" class="form-control" placeholder="Enter List Price" aria-label="Amount (to the nearest dollar)" form="ListingForm" required>
                    </div>
                </div>
            </div>
        </section>

        <section class="description">
            <div class="container">
                <div class="body-header-box">
                    <h2>Product Description</h2>
                    <hr>
                </div>
                <div class="edit-description-box">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <textarea name="productDescription" class="form-control" rows="8" placeholder="Please enter a description of the item here..." required form="ListingForm"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <form action="" method="POST" name="speciForm" form="ListingForm"></form>

        <section class="specifications">
            <div class="container">
                <div class="body-header-box">
                    <h2>Specifications</h2>
                </div>
                <div class="specifications-body-box">
                    <table class="table" >
                        <tbody id="table">
                            <h5 id="ProductText">Choose A Product Type At The Top Of The Page First</h5>
                        </tbody>
                    </table>

                    <!-- Submit Button -->
                        <button id="submit" disabled="true" type="submit" value="submit" class="btn btn-primary btn-edit-specs-submit" form="ListingForm" >Submit</button>


                </div>
            </div>
        </section>
        {% endblock %}
        