{% extends 'base.html' %}

<html>
        {% block breadcrumb %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="color: rgb(190, 190, 190)" href="/">Home</a></li>
                <li class="breadcrumb-item"><a style="color: rgb(210, 210, 210)" href="#">Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sales History</li>
            </ol>
        </nav>
        {% endblock %}

        {% block content %}
        <!-- Past sales page header -->
        <section class="history-heading-box">
            <div class="container">
                    <h1 class="text-center">Past Sales</h1>
                </div>
            </div>
        </section>

        <!-- Past sales index -->
        <section>
            <div class="container">
                <div class="row">
                    <table class="table container past-sales-table">
                        <tbody>
                            <tr>
                                <th>
                                    <img src="static/Intel-Core-i5-7400_sml.jpg" alt="static/Intel Core i5-7400_sml.jpg">
                                </th>
                                <td><strong><br>Intel Core i5-7400</strong></td>
                                <td><strong>Purchased By<br></strong>bruceBruce3814</td>
                                <td><strong>Sold On<br></strong>30/07/2019</td>
                            </tr>
                            <tr>
                                    <th>
                                        <img src="static/AMD-Ryzen-7-1700X_sml.jpg" alt="static/AMD-Ryzen-7-1700X_sml.jpg">
                                    </th>
                                    <td><strong><br>AMD Ryzen 7 1700x</strong></td>
                                    <td><strong>Purchased By<br></strong>pcmaster2000</td>
                                    <td><strong>Sold On<br></strong>13/07/2019</td>
                            </tr>
                            <tr>
                                    <th>
                                        <img src="static/Crucial-4GB-1600MHz-DDR3-SODIMM-Memory.jpg" alt="static/Crucial-4GB-1600MHz-DDR3-SODIMM-Memory.jpg">
                                    </th>
                                    <td><strong><br>Crucial 1600MHz DDR3 SODIMM</strong></td>
                                    <td><strong>Purchased By<br></strong>jim_stewart89</td>
                                    <td><strong>Sold On<br></strong>26/06/2019</td>
                            </tr>
                            <tr>
                                    <th>
                                        <img src="static/ddr4-sodimm.jpg" alt="static/ddr4-sodimm.jpg">
                                    </th>
                                    <td><strong><br>Crucial DDR4 SODIMM</strong></td>
                                    <td><strong>Purchased By<br></strong>matthew2158</td>
                                    <td><strong>Sold On<br></strong>19/06/2019</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        {% endblock %}

</html>