{% extends 'base.html' %}
{% block content %}
<section class="results-heading-box">
    <div class="container">
        {% if viewType == 'search' %}
            <h1 class="text-center page-title">Results</h1>
        {% elif viewType == 'manage' %}
        <h1 class="text-center page-title">My Listings</h1>
        {% endif %}

    </div>
</section>

<section class="product-results">
    <div class="sub-header-results container">
        <h5>Products</h5>
        <hr>
    </div>
    <div class="extra-actions container">
        <ul>
            <li>
                <a href="/previous">
                    <h6>View Previous</h6>
                </a>
            </li>
        </ul>
    </div>
    <table class="table table-hover container results-table">
        <thead>
            <tr class="results-table-header">
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Component</th>
            <th scope="col">Benchmark</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for listing in listings %}
            <tr>
            <th scope="row">
                <div class="image-parent">
                    <div class="image-container">
                        {% if listing|length == 1 %}
                        <img src="static/placeholder.png" alt="static/Images/6_p.jpg">
                        {% elif listing|length == 2 %}
                        <img src="static/Images/{{ listing[1] }}" alt="static/Images/6_p.jpg">
                        {% endif %}
                    </div>
                </div>
            </th>
            <td>{{ listing[0].ListingName }}</td>
            <td>{{ listing[0].ListingType }}</td>
            <td>{{ listing[0].ListingScore }}</td>
            <td>{{"${0:.2f}".format(listing[0].ListingPrice)}}</td>
            <!-- <td><button type="button" class="btn btn-primary">View</button></td> -->
            <td>
                {% if viewType == 'search' %}
                <a href="/listing/{{ listing[0].id }}" class="btn btn-primary">View</a></td>
                {% elif viewType == 'manage' %}
                <a href="/manage/{{ listing[0].id }}" class="btn btn-primary">Manage</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            
            
        </tbody>
    </table>
</section>

{% endblock %}