{% extends 'base.html' %}

<html>
{% block content %}
<section class="mb-5 mt-5">
    <div class="container">
        <h1 class="text-center">Privacy Policy</h1>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h5>
                When you use our services, you’re trusting us with your
                information. We understand this is a big responsibility and work
                hard to protect your information and put you in control.
            </h5>
            <br>
            <p>
                This Privacy Policy is meant to help you understand what information we collect, why we collect it, and
                how you can update, manage, export, and delete your information.<br>
            </p>
            <p><strong>Effective October 15, 2019</strong></p>
            <br>
            <p>
                We build a range of services that help millions of people daily to explore and interact with the world in
                new ways. Our services include:<br>
                    <ul style="padding-left: 100px">
                        <li>Google apps, sites, and devices, like Search, YouTube, and Google Home</li>
                        <li>Platforms like the Chrome browser and Android operating system</li>
                        <li>Products that are integrated into third-party apps and sites, like ads and embedded Google Maps</li>
                    </ul>
                You can use our services in a variety of ways to manage your privacy. For example, you can sign up for a
                Google Account if you want to create and manage content like emails and photos, or see more relevant
                search results. And you can use many Google services when you’re signed out or without creating an
                account at all, like searching on Google or watching YouTube videos. You can also choose to browse the
                web privately using Chrome in Incognito mode. And across our services, you can adjust your privacy
                settings to control what we collect and how your information is used.<br>
                To help explain things as clearly as possible, we’ve added examples, explanatory videos, and definitions
                for key terms. And if you have any questions about this Privacy Policy, you can contact us.
            </p>
            <br>

            <h5>We want you to understand the types of information we collect as you use our services.</h5>
            <br>
            <p>
                We collect information to provide better services to all our users — from figuring out basic stuff like which
                language you speak, to more complex things like which ads you’ll find most useful, the people who
                matter most to you online, or which YouTube videos you might like. The information Google collects, and
                how that information is used, depends on how you use our services and how you manage your privacy
                controls.<br>
                When you’re not signed in to a Google Account, we store the information we collect with unique
                identifiers tied to the browser, application, or device you’re using. This helps us do things like maintain
                your language preferences across browsing sessions.
                When you’re signed in, we also collect information that we store with your Google Account, which we
                treat as personal information
            </p>
            <br>

            <h5>We use the information we collect from all our services for the following purposes:</h5><br>
            <p><strong>Provide our services</strong><br>
                We use your information to deliver our services, like processing the terms you search for in order to
                return results or helping you share content by suggesting recipients from your contacts.
            </p>
            <p><strong>Maintain & improve our services</strong><br>
                We also use your information to ensure our services are working as intended, such as tracking outages
                or troubleshooting issues that you report to us. And we use your information to make improvements to
                our services — for example, understanding which search terms are most frequently misspelled helps us
                improve spell-check features used across our services.
            </p>
            <p><strong>Develop new services</strong><br>
                We use the information we collect in existing services to help us develop new ones. For example,
                understanding how people organized their photos in Picasa, Google’s first photos app, helped us design
                and launch Google Photos.
            </p>
            <p><strong>Provide personalized services, including content and ads</strong><br>
                We use the information we collect to customize our services for you, including providing
                recommendations, personalized content, and customized search results. For example, Security Checkup
                provides security tips adapted to how you use Google products. And Google Play uses information like
                apps you’ve already installed and videos you’ve watched on YouTube to suggest new apps you might
                like.
            </p>
            <br>
            <h5>When you share your information</h5>
            <p>
                Many of our services let you share information with other people, and you have control over how you
                share. For example, you can share videos on YouTube publicly or you can decide to keep your videos
                private. Remember, when you share information publicly, your content may become accessible through
                search engines, including Google Search.<br>
                When you’re signed in and interact with some Google services, like leaving comments on a YouTube
                video or reviewing an app in Play, your name and photo appear next to your activity. We may also display
                this information in ads depending on your Shared endorsements setting.
            </p>
            <br>
        </div>
    </div>
</section>

{% endblock %}

</html>

