{% extends 'base.html' %}

<html>
    {% block content %}
    <section class="mb-5 mt-5">
        <div class="container">
            <h1 class="text-center">Return Policy</h1>
        </div>
    </section>

    <section>
        <div class="container">
            <p>Our goods and services come with guarantees that cannot be excluded under the Australian Consumer Law. For major failures with the service, you are entitled:</p>
            <p>
                <ul style="padding-left:100px">
                        <li>to cancel your service contract with us; and</li>
                        <li>to a refund for the unused portion, or to compensation for its reduced value.</li>
                </ul>
            </p>
            <br>
            <p>
                You are also entitled to choose a refund or replacement for major failures with goods. If a failure with the goods or a service does not amount to a major failure, 
                you are entitled to have the failure rectified in a reasonable time. If this is not done you are entitled to a refund for the goods and to cancel the contract for 
                the service and obtain a refund of any unused portion. You are also entitled to be compensated for any other reasonably foreseeable loss or damage from a failure 
                in the goods or service.
            </p>
            <br>
            <h3 class="text-center">Our Guarantee</h3>
            <br>
            <p>
                Here at BenchmarkPC, we are so confident in our platform
                we provide a money-back guarantee on any product purchased that
                benchmarks 2% outside the score recorded on the date of purchase. If you happen
                to receive a faulty product please contact our support team with both
                proof of purchase and a video recording of the component being benchmarked
                live at the time of purchase. If you are considering purchasing with us we
                encourage you to ensure these are both recorded at the time of purchase, and 
                are kept for any potential mishap.
            </p>
            <br>
        </div>
    </section>
    {% endblock %}
</html>